@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

head, body {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: gainsboro;
}

#me {
  color: white;
  text-align: center;
  background-color: rgb(34, 60, 97);
  padding: 15px 0px 7px 0px;
}

a {
  color: rgb(90, 157, 255);
  text-decoration: none;
}

.social_icons {
  width: 68.4px;
  height: 68.4px;
  border-radius: 5px;
}

img {
  border-radius: 7.31%;
}

p {
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 7.5px 10px 7.5px 10px;
  border-radius: 5px 5px 5px 5px;
  border-bottom-style: groove;
}

/*
.cover {
  width: 300px;
}
*/

textarea {
   height: 130px;
   width: 650px;
}
